body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
}
nav a{
    color: #E2E8F0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

nav a:hover{
    color: #82C4FF;
    font-family: sans-serif;
}

nav li{
    list-style-type: none;
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
}

nav{
    text-align: right;
    background-color: #0F172A;
    padding: 1px;
    border: #334155 solid 1px;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #114420;
    margin: 0px;
}
footer {
    padding: 20px;
    margin: 0;
    background-color: #10331a;
    text-align: center;
}
.title {
    position: relative;
    background-color: #1b8b3c;
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title-text {
    text-align: center;
    z-index: 2;
    position: relative;
}
.title h1 {
    margin: 0;
    font-size: 3em;
}
.title p {
    font-size: 1.5em;
    margin-top: 10px;
}

.card {
    background-color: #383a31;
    border-radius: 10px;
    max-width: 300px;
    overflow: hidden;
    transition: transform 0.3s ease;
    text-align: center;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 50%;
    height: auto;
    object-fit: cover;
}

.card-body {
    padding: 20px;
}

.card-body h3 {
    color: white;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.card-body p {
    color: white;
    font-size: 1em;
    margin-bottom: 15px;
}
.about h2 {
   font-size: 3em; 
   margin: 30px 0 40px 0; 
}
.about-text {
    flex: 1; 
    max-width: 500px; 
}
.about {
    padding: 50px; 
    background-color: #f9f9f9; 
    text-align: center; 
}
.about-content {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    max-width: 1200px; 
    margin: 0 auto; 
    text-align: left; 
}
.about-image {
    max-width: 350px; 
    width: 100%; 
    height: 250px; 
    margin-right: 40px;
    border-radius: 20px;
}
.about-image:hover {
    max-width: 350px; 
    width: 100%; 
    height: 250px; 
    margin-right: 40px;
    border-radius: 20px;
    transform: scale(1.05);
    transition-duration: 1s;
}

.description { 
    margin: 20px 20px 20px 20px; 
    font-size: 18px;
    line-height: 1.5; 
}

.marqi{
    margin: 20px;
}
.marqi-image {
    margin-left: 50px;
    width: auto;
    height: 110px;
}

